/* Styles for services page */

/* RESTAURANTS & STORES =========================================== */

#restaurants,
#stores {
  display: grid;
  grid-gap: 10px;
  padding: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin-bottom: 25px;
}

#restaurants > h2,
#stores > h2 {
  grid-column: 1 / span 4;
}

/* MEDIA TAGS FOR MID SCREENS ===================================== */

@media only screen and (max-width: 1000px) {
  #restaurants,
  #stores {
    grid-template-columns: repeat(2, 1fr);
  }

  #restaurants > h2,
  #stores > h2 {
    grid-column: 1 / span 2;
  }
}

/* FOR SMALL SCREENS ============================================== */

@media only screen and (max-width: 600px) {
  #restaurants,
  #stores {
    grid-template-columns: repeat(1, 1fr);
  }

  #restaurants > h2,
  #stores > h2 {
    grid-column: 1 / span 1;
  }
}
